<h1>Liste des signalisations</h1>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id Tâche</th>
            <th scope="col">Référence Ligne</th>
            <th scope="col">Type de réclamation</th>
            <th scope="col">Rémontée</th>
            <th scope="col">Statut</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>1595995959</td>
            <td>20326598</td>
            <td>Maintenance ADSL</td>
            <td>absence de signal adsl</td>
            <td>En Cours</td>
        </tr>
    </tbody>
</table>