<!-- Header
 -->
<header class="header">
    <div class="row">
        <div class="header-left col-6">
            <p>SCRIBE</p>
        </div>
        <div class="header-right col-6">
            <p class="float-right">
                Bienvenu, <span>username</span>
                <!-- <fa-icon [icon]="faUserCircle"></fa-icon> -->
            </p>
        </div>
    </div>
</header>

<!-- App Body
 -->
<div class="app-body">

    <!-- Sidebar
    -->
    <div class="sidebar" id="sider">
        <div class="burger-btn">
            <div class="hamburger" id="hamburger-1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <div class="top-menu">
            <div class="dropright show">
                <p data-toggle="dropdown">
                    <fa-icon [icon]=menu1icon></fa-icon>
                    <a class="i-menu">{{menu1}}</a>
                </p>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink='/add-signalisation'>{{item11}}</a>
                    <a class="dropdown-item" routerLink='/list-signalisation'>{{item12}}</a>
                </div>
            </div>
            <div class="dropdown-divider"></div>

            <div class="dropright show">
                <p data-toggle="dropdown">
                    <fa-icon [icon]=menu2icon></fa-icon>
                    <a class="i-menu">{{menu2}}</a>
                </p>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink=link21>{{item21}}</a>
                    <a class="dropdown-item" routerLink=link22>{{item22}}</a>
                </div>
            </div>
            <div class="dropdown-divider"></div>

            <div class="dropright show">
                <p data-toggle="dropdown">
                    <fa-icon [icon]=menu3icon></fa-icon>
                    <a class="i-menu">{{menu3}}</a>
                </p>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink=link31>{{item31}}</a>
                    <a class="dropdown-item" routerLink=link32>{{item32}}</a>
                </div>
            </div>
        </div>

        <p class="bottom-menu">
            <fa-icon [icon]="faCog"></fa-icon><a class="i-menu">{{setting}}</a>
        </p>
    </div>

    <!-- Main Body = Sub-Header + Vues App
    -->
    <div class="main-body">
        <!-- Sub-Header
        -->
        <nav class="subheader">
            <div class="navpath">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </div>
            <div class="navbtn">
                <a href="#" data-toggle="tooltip" data-placement="left" title="Dashbord" data-delay='{"show":"300", "hide":"0"}'>
                    <fa-icon [icon]="faStream"></fa-icon>
                </a>

                <a href="#" data-toggle="tooltip" data-placement="left" title="Scrolling Screen" data-delay='{"show":"300", "hide":"0"}'>
                    <fa-icon [icon]="faChartBar"></fa-icon>
                </a>
            </div>
        </nav>


        <div class="app-content">
            <app-dataset></app-dataset>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>